.form-wrapper{
    height: calc(100vh - 250px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.form-title{
    font-size: 27px;
    margin-bottom: 15px;
    color: teal;
}

.form{
    display: flex;
    flex-direction: column;
    width: 340px;
    position: relative;
}

.form input{
    border: 2px solid teal;
    padding: 10px;
    font-size: 21px;
    margin-bottom: 15px;
}

.form-btn{
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 21px;
    padding: 7px;
    border: none;
}

.form-footer{
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
}

.show-password-icon{
    position: absolute;
    top: 80px;
    right: 10px;
    font-size: 21px;
    color: rgb(3, 168, 168);
    z-index: 2;
    cursor: pointer;
}


